* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat;
}

body {
  font-weight: 200;
  font-size: 1.2rem;

  @media screen and (max-width: 1024px) {
    font-size: 1.1rem;
  }
}

#wrapper {
  margin-left: 100px;
  margin-right: 150px;

  @media screen and (max-width: 1024px) {
    margin-left: 80px;
  }

  @media screen and (max-width: 768px) {
    margin-right: 100px;
    margin-left: 55px;
  }

  @media screen and (min-device-width: 426px) and (max-device-width: 630px) {
    margin-right: 50px;
    margin-left: 50px;
  }

  @media screen and (max-width: 425px) {
    margin-right: 20px;
    margin-left: 20px;
  }
}

hr {
  background-color: $color-grid;
  border: none;
  height: 1px;
}

html {
  scroll-behavior: smooth;
}
